/germany/
travel_time_ch/
/germany/geo_distance/
/karlsruhe/
/test_graph/
CCH.VC.opendb
*.pdb
*.idb
*.pdb
*.1.tlog
*.tlog
*.log
*.ilk
*.sdf

## Core latex/pdflatex auxiliary files:

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb